#graphSection {
    #tabHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h2 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .tab {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 10px;
            border-style: none;
            box-shadow: 0 2 5px rgba(0, 0, 0, 0.1);

            &.active {
                background-color: #e00390;
                color: #fff;
            }
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }

    height: 100%;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    svg {
        overflow: visible;
    }

    #dotLabel {
        height: 1rem;
        text-align: center;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .skill-label {
        color: #fff;
    }
}